{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
{% if form.errors %}
    <p>Su nombre de usuario y contraseña no coinciden. Inténtalo de nuevo.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Su cuenta no tiene acceso a esta página. Para continuar,
      inicie sesión con una cuenta que tenga acceso.</p>
    {% else %}
      <p>Por favor inicie sesión para ver esta página.</p>
    {% endif %}
  {% endif %}

 <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-6 my-lg-5 py-lg-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-5 offset-xl-1 my-lg-5 py-lg-5">
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3">Sign in with</p>
            <button type="button" data-mdb-button-init="" data-mdb-ripple-init="" class="btn btn-primary btn-floating mx-1" data-mdb-button-initialized="true">
              <i class="fab fa-facebook-f"></i>
            </button>

            <button type="button" data-mdb-button-init="" data-mdb-ripple-init="" class="btn btn-primary btn-floating mx-1" data-mdb-button-initialized="true">
              <i class="fab fa-twitter"></i>
            </button>

            <button type="button" data-mdb-button-init="" data-mdb-ripple-init="" class="btn btn-primary btn-floating mx-1" data-mdb-button-initialized="true">
              <i class="fab fa-linkedin-in"></i>
            </button>
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Or</p>
          </div>

          <!-- Email input -->
          <div data-mdb-input-init="" class="form-outline mb-4" data-mdb-input-initialized="true">
            <input type="text" id="form3Example3" name="username" class="form-control form-control-lg" placeholder="Enter a valid email address">
            <label class="form-label" for="form3Example3" style="margin-left: 0px;">Email address</label>
          <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 88.8px;"></div><div class="form-notch-trailing"></div></div></div>

          <!-- Password input -->
          <div data-mdb-input-init="" class="form-outline mb-3" data-mdb-input-initialized="true">
            <input type="password" name="password" id="form3Example4" class="form-control form-control-lg" placeholder="Enter password">
            <label class="form-label" for="form3Example4" style="margin-left: 0px;">Password</label>
          <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64.8px;"></div><div class="form-notch-trailing"></div></div></div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3">
              <label class="form-check-label" for="form2Example3">
                Remember me
              </label>
            </div>
            <a href="#!" class="text-body">Forgot password?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" data-mdb-button-init="" data-mdb-ripple-init="" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;" data-mdb-button-initialized="true">Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!" class="link-danger">Register</a></p>
          </div>

        </form>
      </div>
    </div>
  </div> 

 {% comment %} <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="login">
    <input type="hidden" name="next" value="{{ next }}">
  </form> {% endcomment %}

  {# Asume que configura la vista de restablecimiento de contraseña en su URLconf #}
  {% comment %} <p><a href="{% url 'password_reset' %}">¿Olvidó su contraseña?</a></p> {% endcomment %}



  <script src="{% static 'scripts/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'jquery/jquery.js' %}"></script>
    <script src="{% static 'scripts/site.js' %}"></script>