{% load static %}
{% load auth_extras %}
<head>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <style>
        .footer {
            position:fixed;
            bottom:0;
            left:0;
            width:100%;
            height: 90px;
            background-color: #D0DAEE;
          }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Planning & Class Controls</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                
                {% if request.user|has_group:"responsibles" %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'planninglist' %}">Planning</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="javascript:;">Controls</a>
                    </li>
                {% endif %}
                
                {% if request.user|has_group:"reviewers" %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Reports
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="javascript:;">Por Evaluacion</a></li>
                        <li><a class="dropdown-item" href="javascript:;">Por Categoria Docente</a></li>
                        <li><a class="dropdown-item" href="javascript:;">Por Tipo de Clase</a></li>
                        <li><a class="dropdown-item" href="javascript:;">Por Directivo</a></li>
                        <li><a class="dropdown-item" href="javascript:;">Por Carrera</a></li>
                        <li><a class="dropdown-item" href="javascript:;">Por Tipo de actividad</a></li>
                        <li><a class="dropdown-item" href="javascript:;">Por Nivel</a></li>
                        <li><a class="dropdown-item" href="javascript:;">Por Tipo de curso</a></li>
                    </ul>
                </li>
                {% endif %}
                
                {% if  request.user|has_group:"admins"%}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Configuration
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="javascript:;">Por Evaluacion</a></li>
                        <li><a class="dropdown-item" href="javascript:;">Por Categoria Docente</a></li>
                        <li><a class="dropdown-item" href="javascript:;">Por Tipo de Clase</a></li>
                        <li><a class="dropdown-item" href="javascript:;">Por Directivo</a></li>
                        <li><a class="dropdown-item" href="javascript:;">Por Carrera</a></li>
                        <li><a class="dropdown-item" href="javascript:;">Por Tipo de actividad</a></li>
                        <li><a class="dropdown-item" href="javascript:;">Por Nivel</a></li>
                        <li><a class="dropdown-item" href="javascript:;">Por Tipo de curso</a></li>
                    </ul>
                </li>
                {% endif %}
                
                {% comment %} <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li> {% endcomment %}
            </ul>
            {% comment %} <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>  {% endcomment %}
            {% if user.is_authenticated %}
                <div class="d-flex justify-content-end">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ user.get_username }}
                            </a>
                        
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li>
                                    <form id='logoutfrm' method="post" action='/accounts/logout/'>
                                        {% csrf_token %}
                                        <a class="dropdown-item" href="javascript:;" id='submitlogout'>Log out</a>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            {%endif %}
                
            </div>
        </div>
        </nav>
    <div class='container-fluid m-2'>
        {% block content %}<!-- default content text (typically empty) -->{% endblock %}
    </div>
    <div class='container-fluid'>
    <div class='footer'>
        <div class="d-flex flex-wrap align-items-center">
            <a href="/#" class="d-flex align-items-center p-0 text-dark">
              <img alt="logo" src="../img/logo.png" width="30px" />
              <span class="ms-4 h5 mb-0 font-weight-bold">Devwares</span>
            </a>
            <span
              style="
                            font-size: 3em;
                            margin: -2rem 0px -1.5rem 1rem;
                            color: #c4c4c4;
                          "
              >&#8226;</span
            >
            <small class="ms-2">&copy; Devwares, 2020. All rights reserved.</small>
        </div>
    </div>
</div>
    <script src="{% static 'scripts/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'jquery/jquery.js' %}"></script>
    <script src="{% static 'scripts/site.js' %}"></script>
</body>